/practice1/archive
/practice1/__pycache__

/practice2/data
/practice2/predictions
/practice2/__pycache__

/practice3/archive
/practice3/hybrid_model/__pycache__
/practice3/plan.md
/practice3/phase1_best_model.pth
/practice3/phase1_last_model.pth
/practice3/phase2_best_model.pth
/practice3/phase2_last_model.pth

/practice4/data
/practice4/model.md

practice1.aux
practice1.log
practice1.out

practice2.aux
practice2.log
practice2.out

practice3.aux
practice3.log
practice3.out

*.pyc
*__pycache__*
*__pycache__/*